body {
    background-color:rgb(163, 156, 90);
}

#header {
    text-align: center;
}

.no-bullet-points {
    list-style:none;
}

a {
    display:block;
    text-align: center;
}

.recipe-card {
    text-align: center;
    background-color:rgb(33, 128, 96);
    height: 18rem;
    width: 18rem;
    padding: 2rem;
    margin: 1.5rem;
}

img {
    height: 15rem;
    width: 15rem;
}

.recipe-card > * {
    margin:1rem;
}